# --- Базовые ---
numpy==1.24.4
pandas==2.3.2

# --- Визуализация ---
matplotlib==3.10.6
seaborn==0.13.2

# --- Phik корреляции ---
phik==0.12.5

# --- Scikit-learn ---
scikit-learn==1.4.2

# --- ML-библиотеки ---
xgboost==2.1.4
lightgbm==4.6.0
catboost==1.2.7
imbalanced-learn==0.11.0

# --- Прочее ---
shap==0.48.0
joblib==1.4.2
scipy==1.13.1
ipython==8.28.0

# --- Web ---
fastapi[standard]==0.116.1
uvicorn==0.15.0
jinja2==3.1.6
python-multipart==0.0.20